<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Codex Arcana</title>

<link rel="stylesheet" href="../../../css/default.css"
    th:href="@{/css/default.css}" />
<link rel="stylesheet" href="//ricostacruz.com/nprogress/nprogress.css" />
</head>
<body>
    <p>Loading news...</p>

    

    <div id="news">
        <p>Important news:</p>
    </div>

    <script
        src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="//ricostacruz.com/nprogress/nprogress.js"></script>
    <script src="../../js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>